body {
  background-color: white;
  font-weight: 500;
  position: relative;
  
}

#timer {
  display: flex;
  text-align: center;
  margin-left: 20px;
  font-size: 35px;
}

#buttons {
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 20px;
}

#start {
  padding: 10px;
}

#stop {
  padding: 10px;
}

#reset {
  padding: 10px;
}